<div class="container">
	<div class="row-fluid">
		<div class="offset4 col-sm-4">
            <h3>Profiles</h3><hr>
            <div class="form-group">
                <label>First Name</label>
                <input type="text" class="form-control" placeholder="First Name" ng-model="form.firstname" validator="required">
            </div>
            <div class="form-group">
                <label>Last Name</label>
                <input type="text" class="form-control" placeholder="Last Name" ng-model="form.lastname" validator="required">
            </div>
            <button class="btn btn-primary" validation-submit="Form" ng-click="next()">Submit</button>
            <button class="btn btn-warning" validation-reset="Form">Reset</button>
		</div>
	</div>
</div>