<div class="row-fluid">
    <div class="offset4 col-sm-4">
    <h3>User Profile</h3>
    <div id="registration" ng-controller="registrationCtrl">
        <form class="form-horizontal" name="registrationForm">
            <div class="form-group">
                <input type="text" class="form-control"
                       placeholder="User Name" ng-model="user.username"
                       required>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="firstName"
                       placeholder="First Name" ng-model="user.first_name"
                       required>
            </div>
            <div class="form-group">
                <input type="text" class="form-control"
                       placeholder="Last Name"
                       ng-model="user.last_name"
                       required>
            </div>
            <div class="form-group">
                <input type="text" class="form-control"
                       placeholder="Birthday" ng-model="user.birthday"
                       required>
            </div>

            <div class="form-group">
                <input type="password" class="form-control"
                       placeholder="Password"
                       ng-model="user.password"
                       required>
            </div>
            <div class="form-group">
                <input type="password" class="form-control"
                       placeholder="Password Confirmation"
                       ng-model="user.password2"
                       required>
            </div>
            <button click-once type="submit" class="btn btn-primary" ng-click="submit()">Submit</button>
        </form>
    </div>
    </div>
</div>