<div class="container">
	<div class="row-fluid">
		<div class="offset4 col-sm-4">
			<div class="full-width login-page-area">
				<h2 class="welcome-text">Welcome to App!</h2>
                <alert ng-repeat="(error, msg) in message"
                       type="info" close="closeAlert(error)">
                    {{msg[0]}}
                </alert>

				<div class="input-group username-group">
				  <span class="input-group-addon glyphicon glyphicon-envelope"></span>
				  <input type="text" class="form-control username-text" placeholder="username" ng-model="username">
				</div>

				<div class="input-group password-group">
				  <span class="input-group-addon glyphicon glyphicon-lock"></span>
				  <input type="password" class="form-control password-text" placeholder="password" ng-model="password">
				</div>
				<div class="input-group remember-group">
				  <input type="checkbox" class="remember-check" id="remember-check" ng-model="user_remember">
				  <label for="remember-check">Remember me</label>
                  &nbsp;&nbsp;&nbsp;<a href="/#/register">Create New Account</a>
				</div>
				<button class="btn btn-primary login-btn" type="button" ng-click="login()">
				  Log in
				</button>
			</div>
		</div>
	</div>
</div>