body{
	padding: 0px !important;
}

.full-width{
	position: relative;
	width: 100%;
}

.welcome-text{
	text-align: center;
}

.input-group{
	margin-top: 20px;
	margin-bottom: 30px;
}

.input-group span{
	position: relative;
	top: 0px;
}

.remember-check{
	position: relative;
	top: 2px;
	margin-right: 10px !important;
}

.login-btn{
	width: 100%;
}

.list_label{
	font-weight:bold;
	margin: 4px 0;
}

.list_header{
	border-bottom:2px solid #ccc;
}

.list_content{
	border-bottom:1px solid #ccc;
}